.pagination {
  display: flex;
  width: fit-content;
  margin: 0 0 97px 0;

  @media screen and (max-width: 1365px) {
    margin: 0 0 62px 0;
  }
  @media screen and (max-width: 1023px) {
    margin: 0 0 54px 0;
  }
  @media screen and (max-width: 767px) {
    margin: 0 0 32px 0;
  }

  &__arrow {
    min-width: 8px;
    min-height: 13px;
  }
  &__doubleArrow {
    min-width: 14px;
    min-height: 14px;
  }
}
