.header {
  height: 134px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 767px) {
    height: 118px;
  }
  &__logo {
    height: 68px;
    width: 68px;
  }
  &__themeIcon {
    height: 20px;
    width: 20px;
    fill: #000000;
    cursor: pointer;

    &_dark {
      fill: #ffffff;
    }
  }
}
