.range {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: calc((100% - 60px) / 4);
  line-height: 15px;
  min-height: 45px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: white;
  color: black;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;

  &_open {
    border: 1px solid #000000;
    border-bottom: 1px solid transparent;
    border-radius: 8px 8px 0 0;
  }
  &_dark {
    background: #0c0c0c;
    border-color: #ffffff;
  }

  @media screen and (max-width: 1365px) {
    min-width: calc((100% - 60px) / 4);
  }
  @media screen and (max-width: 767px) {
    min-width: 100%;
  }
  &_activeDark {
    border-bottom: 1px solid transparent;
  }

  &__title {
    margin: 0 0 0 15px;
    font-style: normal;
    font-size: 13px;
    line-height: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &_dark {
      color: #ffffff;
    }
  }
  &__arrow {
    position: absolute;
    display: flex;
    right: 18px;
    float: right;
    width: 10px;
    height: 6px;
    fill: rgba(0, 0, 0, 0.3);
    fill-opacity: 1;

    &_dark {
      fill: rgba(255, 255, 255, 0.3);
    }
  }
  &__—Åontainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    background: white;
    min-width: 100.9%;
    min-height: 85px;
    border: 1px solid black;
    border-style: none solid solid;
    border-radius: 0px 0px 8px 8px;
    top: 43px;
    left: -1px;
    box-sizing: border-box;
    z-index: 1;

    &_active {
      border-top: none;
      display: flex;

      @media screen and (min-width: 3000px) {
        width: 102%;
        left: -3px;
        top: 41px;
      }
      @media screen and (max-width: 1365px) {
        flex-direction: column;
        height: 160px;
      }
      @media screen and (max-width: 820px) {
        min-width: 101.4%;
      }
      @media screen and (max-width: 767px) {
        height: 85px;
        min-width: 100.3%;
      }
      @media screen and (max-width: 545px) {
        min-width: 100.4%;
      }
      @media screen and (max-width: 420px) {
        min-width: 100.6%;
      }
    }

    &_dark {
      background: #0c0c0c;
      border-color: #ffffff;
    }
  }
}
