@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@800&family=Poppins&family=Roboto&family=Ubuntu&display=swap');

html,
body,
html * {
  font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.darkTheme {
  background: #000000;
}
